a{
    text-decoration: none;
    color: inherit;
}

.input-with-icon {
    position: relative;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.search-container:focus-within {
    border-color: #007bff; 
}


.search-input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}



/* Search button */
.search-button {
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(83, 83, 83);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #d1e0f0; /* Darker shade on hover */
}

.shadow-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p{
    font-size: small;
}


#cart-icon {
    position: relative; /* Ensure the icon container is positioned relative */
}

#cart-icon .cart-count {
    position: absolute; 
    top: -10px; /* Adjust the vertical position (move it up) */
    right: -10px; /* Adjust the horizontal position (move it to the right) */
    background-color: rgb(17, 17, 17); /* Set the background color to red */
    color: white; /* Set the text color to white for better contrast */
    border-radius: 40%; /* Make the count circular */
    padding: 2px 6px; /* Add padding for better spacing */
    font-size: 8px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
}